@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;


/* Tùy chỉnh cho dots */
.custom-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px #bcbcbc solid;
  background-color: transparent; /* Nền mặc định */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 1px;
  margin-left: 1px;
}

/* Khi dot được chọn, đổi màu nền thành đen */
.slick-dots li.slick-active .custom-dot {
  background-color: black;
  border-color: white; /* Viền đổi sang màu đen */
}


/* Ẩn mũi tên của thẻ input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* Thay đổi màu nền khi radio được chọn */
input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: black;
  border: 2px solid black;
}

/* Thêm dấu kiểm */
input[type="radio"]:checked::before, input[type="checkbox"]:checked::before {
  content: "✓";
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 15px;
}

/* Các pseudo-element của WebKit */
::-webkit-scrollbar {
  width: 7px;
  height: 0;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.description {
  overflow: hidden;
  line-height: 1.2rem;
  height: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1;
  text-align: left;
}
.description2 {
  overflow: hidden;
  line-height: 1.2rem;
  height: 2.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex: 1;
  text-align: left;
}
.relatives::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  border-color: transparent black transparent;
  border-width: 0px 15.5px 5px;
  border-style: solid;
}
/* .scrollbar::-webkit-scrollbar{
    display: none;
} */
.after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  background: transparent;
  border-radius: 100%;
}
.hoverStatus::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 20px;
  width: 100%;
  top: -7px;
  left: 0;
}
.hover:hover .hoverStatus {
  display: block;
}
@media (min-width: 992px) {
  .hoverStatus::after {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 20px;
    width: 100%;
    top: -7px;
    left: 0;
  }
}


.marquee {
  position: fixed;
  display: inline-block;
  white-space: nowrap;
  animation: marquee-animation 10s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(0%); /* Bắt đầu từ ngoài màn hình bên trái */
  }
  100% {
    transform: translateX(140%); /* Kết thúc khi văn bản ra ngoài màn hình bên phải */
  }
}


.support {
  animation: support-animation .3s ease-out;
}

@keyframes support-animation {
  0% {
    height: 0;
    width: 0; /* Bắt đầu từ ngoài màn hình bên trái */
  }
  100% {
    width: 400;
    height: 400; /* Kết thúc khi văn bản ra ngoài màn hình bên phải */
  }
}

.support {
  animation: support-animation .3s ease-out;
}

@keyframes support-animation {
  0% {
    height: 0;
    width: 0; /* Bắt đầu từ ngoài màn hình bên trái */
  }
  100% {
    width: 400;
    height: 400; /* Kết thúc khi văn bản ra ngoài màn hình bên phải */
  }
}

.step {
  animation: step-animation .2s ease-out;
}

@keyframes step-animation {
  0% {
    opacity: 0;
    opacity: 0; /* Bắt đầu từ ngoài màn hình bên trái */
  }
  100% {
    opacity: 1;
    opacity: 1; /* Kết thúc khi văn bản ra ngoài màn hình bên phải */
  }
}
.filter {
  animation: filter-animation .2s ease-out;
}

@keyframes filter-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

